{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main>

        <div class="album py-5 bg-light">
            <div class="container">
              <h2 class="text-center">{{search|title}}</h2>

              {% for card,posts,contents in zipped_lists %}
                    <div class="card">
                        <div class="card-body">
                            <h4 class="text-center">{{ card }}</h4>
                            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                              {% for post in posts%} 
                                <div class="col">
                                <div class="card">
                                    <div class="card-header text-center text-primary">
                                      <h5>{{ post }}</h5>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                      <li class="list-group-item border-0">
                                      {% for subj in contents %}
                                        <i>{{subj.0}} {{subj.1}} {{subj.2}} {{subj.3}}</i> 
                                        {% endfor %}
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
              {% endfor %}
            </div>
            <br>
        </div>

    </main>
{% endblock content%}